.reset{
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  &__form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 250px;
    margin-top: 40px;
    min-width: 250px;
  }
}